@media (max-width: 992px) {
/*Mobile Logo Starts*/
	.mLogo {
		padding: 10px;
		display: flex;
		justify-content: center;
		box-shadow: 1px 1px 10px 3px #e7e7e7;
		}
	.mLogo a {
		cursor: default;
		background-color: transparent;
		text-decoration: none;
	    color: inherit;
		}
	.mLogo img {
		width: 180px;
		height: auto;
		}
/*Mobile Logo Ends*/

/*Mobile Bottom Bar Starts*/
	.mBar {
		position: fixed;
		width: 100%;
		height: 60px;
		background: #292829;
		bottom: 0;
		z-index: 1;
		}
	.mBarCont {
		position: relative;
		padding-top: 9px;
		padding-bottom: 9px;
		display: flex;
		align-items: flex-end;
		justify-content: space-around;
		}
	.mSvcCont {
		padding: 2px 15px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		background: transparent;
		border-radius: 3px;
		}
	.mSvcCont a {
		cursor: default;
		background-color: transparent;
		text-decoration: none;
	    color: inherit;
		}
	.mSvcIcn {
		color: #fff;
		margin-bottom: 5px;
		display: flex;
		justify-content: center;
		}
	.mSvcIcn .hotel, .mSvcIcn .email {
		font-size: 20px;
		color: #fff;
		}
	.mSvcIcn .holidays, .mSvcIcn .user {
		font-size: 22px;
		color: #fff;
		}
	.fa-suitcase:before {
		content: "\f0f2";
	    display: inline-block;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: 400;
	    -webkit-font-smoothing: antialiased;
		line-height: 1;
		}
	.fa-user:before {
		content: "\f007";
	    display: inline-block;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: 400;
	    -webkit-font-smoothing: antialiased;
		line-height: 1;
		}
	.mSvcIcnTag {
		font-size: 12px;
		line-height: 12px;
		color: #fff;
		text-align: center;
		margin-bottom: 0;
		}
	.mSvcIcn-logggedin {
		font-size: 18px;
		color: #01b7f2;
		margin-bottom: 5px;
		display: flex;
		justify-content: center;
		}
	.mSvcIcnTag-logggedin {
		font-size: 12px;
		line-height: 12px;
		color: #01b7f2;
		text-align: center;
		margin-bottom: 0;
		}
	.account {
		right: 0;
	    background: #f5f5f5;
	    padding: 5px 0;
	    border-radius: 2px;
	    text-align: center;
		/*top: -203px;*/
		position: absolute;
		display: none;
		}
	.mUserPrflIcn {
	    border: 1px solid #ccc;
	    border-radius: 50%;
	    padding: 13px;
	    color: #ccc;
	    font-size: 30px;
	    width: 70px;
	    margin: 10px auto;
		}
	.mLoginItemCont {
		display: flex;
		flex-direction: column;
		}
	.mLoginItemCont a {
		cursor: default;
		background-color: transparent;
		text-decoration: none;
	    color: inherit;
		}
	.mLoginItem {
		padding: 10px 25px;
		font-size: 14px;
		line-height: 14px;
		color: #000001;
		font-weight: 500;
		text-align: left;
		margin-bottom: 0;
		}
	.mLoginItemIcon {
		margin-right: 10px;
		color: #01b7f2;
		width: 12px;
		}
/*Mobile Bottom Bar Starts*/

/*Mobile Footer Starts*/
	.mFooter {
	    background: #000000cc;
	    background-attachment: fixed;
	    background-repeat: no-repeat;
	    background-size: cover;
	    padding: 30px 13px;
	    background-position: top;
		}
	.mFtrRgtSubTtl, .mFtrSclMedia {
		padding-bottom: 30px;
		border-top: 1px solid #bbb;
		margin-bottom: 20px;
		text-transform: uppercase;
		padding-top: 30px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
		}
	.mFtrRgtSubTtl h3, .mFtrSclMedia h3, .mFtrSubscription h3 {
		font-size: 16px;
		line-height: 18px;
		color: #fff;
		font-weight: 600;
		text-align: center;
		margin-bottom: 15px;
		text-transform: uppercase;
		}
	.mFtrRgtSubTtl li {
		font-size: 22px;
		color: #fff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-right: 20px;
		display: flex;
	    align-items: center;
	    justify-content: center;
		}
	.mPmtModeIconBox {
		width: 65px;
		height: auto;
		overflow: hidden;
		border-radius: 5px;
		margin-right: 20px;
		}
	.mPmtModeIconBox img {
		width: 100%;
		height: 40px;
		border-radius: 5px;
		}
	.mFtrSclMedia li a {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-right: 20px;
		display: flex;
	    align-items: center;
	    justify-content: center;
		}
	.mFtrSubscription  {
		margin-top: 25px;
		margin-bottom: 0;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid #bbb;
		text-transform: uppercase;
		}
	.mFtrSubsInputBox {
		width: 100%;
		margin-right: 3px;
		}
	.mFtrSubsInputBox input[type=email] {
		display: block;
		width: 100%;
		height: 40px;
		padding: 6px 12px;
		font-size: 16px;
		line-height: 18px;
		color: #4a4a4a;
		font-weight: 500;
		text-align: left;
		background: #fff !important;
		border: 0;
	    border-radius: 4px;
		box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
		-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
		margin-bottom: 0;
		text-transform: none;
		}
	.mFtrSubsInputBox input[type=email]:focus {
		outline: 0;
		}
	.mFtrSubsInputBox input[type=text] {
		display: block;
		width: 100%;
		height: 40px;
		padding: 6px 12px;
		font-size: 16px;
		line-height: 18px;
		color: #4a4a4a;
		font-weight: 500;
		text-align: left;
		background: #fff !important;
		border: 0;
	    border-radius: 4px;
		box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
		-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
		margin-bottom: 0;
		text-transform: none;
		}
	.mFtrSubsInputBox input[type=text]:focus {
		outline: 0;
		}
/*Mobile Footer Ends*/

/*New*/
/*Mobile Fixed-Header Starts*/
	.dNavCont {
		height: 63px;
		padding: 15px 13px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		column-gap: 20px;
		}
	.dLogoContainer {
		padding: 0;
		}
	.userSectionBox {
		gap: 15px;
		/*width: 100%;*/ /*Changed in M*/
		align-items: center;
		justify-content: end;
		/*overflow: hidden;*/
		}
	.dLogoBox {
		width: 160px;
		height: 33px;
		background-color: transparent;
		}
	.dLogoBox img {
		/*width: 200px;
		height: 40px;*/
		width: 160px;
		height: 33px;
		}
	.userLogOut {
		/*padding: 6px 12px;
		background-color: #fff;
		height: 40px;
		border: 1px solid #08b2ed;
		border-radius: 3px;
		position: relative;
		display: flex;
		align-items: center;
		white-space: nowrap;*/
		cursor: default;
		}
	.downArrow:after {
		/*display: inline-block;
		padding: 3px;
		content: '';
		border: solid #08b2ed;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		vertical-align: top;
		margin-left:8px;
		transition: all 0.3s ease-in-out;
		position: relative;
		top: -1px;*/
		}
	.userLogoutTag {
		/*font-size: 12px;
		line-height: 14px;
		color: #08b2ed;
		font-weight: 600;
		text-align: center;*/
		display: none; /*IMPORTANT in Mobile*/
		}
	.userIconWrapper {
		font-size: 25px;
		color: #08b2ed;
		border: 1px solid #08b2ed;
		border-radius: 50%;
		padding: 3px;
		display: inline-block;
		/*margin: 5px;*/
		}
	.user-svg-icon {
		width: 1em;
		height: 1em;
		vertical-align: middle;
		fill: currentColor;
		overflow: hidden;
		}
	.languageFlagCont {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 11px;
	    line-height: 11px;
	    color: #000001;
	    font-weight: 600;
	    cursor: default;
	    white-space: nowrap;
	    /*flex-wrap: wrap;*/
	    justify-content: center;
	    overflow: hidden;
		}
	.bharatFlag {
		width: 30px;
		height: 21px;
		/*box-shadow: 0px 0px 90px 1px #989;*/
		background-color: transparent;
		border-radius: 2px;
		overflow: hidden;
		/*position: relative;
		display: inline-block;*/
		}
	.bharatFlag .top {
		height: 7px;
		background-color: #FF671F
		}
	.bharatFlag .middle {
		height: 7px;
		background-color: #FFFFFF
		}

	.bharatFlag .bottom {
		height: 7px;
		background-color: #046A38
		}
	.bharatFlag .middle .wheel {
		height: 7px;
		width: 7px;
		border: 0.5px solid darkblue;
		border-radius: 45px;
		position: relative;
		margin: 0 auto
		}
	.bharatFlag .middle .wheel .line {
		height: 100%;
		width: 0.08px;
		display: inline-block;
		position: absolute;
		left: 50%;
		background-color: #06038D;
		margin: 0;
		}
	.bharatFlag .middle .line:nth-child(1) {
		transform: rotate(15deg)
		}
	.bharatFlag .middle .line:nth-child(2) {
		transform: rotate(30deg)
		}
	.bharatFlag .middle .line:nth-child(3) {
		transform: rotate(45deg)
		}
	.bharatFlag .middle .line:nth-child(4) {
		transform: rotate(60deg)
		}
	.bharatFlag .middle .line:nth-child(5) {
		transform: rotate(75deg)
		}
	.bharatFlag .middle .line:nth-child(6) {
		transform: rotate(90deg)
		}
	.bharatFlag .middle .line:nth-child(7) {
		transform: rotate(105deg)
		}
	.bharatFlag .middle .line:nth-child(8) {
		transform: rotate(120deg)
		}
	.bharatFlag .middle .line:nth-child(9) {
		transform: rotate(135deg)
		}
	.bharatFlag .middle .line:nth-child(10) {
		transform: rotate(150deg)
		}
	.bharatFlag .middle .line:nth-child(11) {
		transform: rotate(165deg)
		}
	.bharatFlag .middle .line:nth-child(12) {
		transform: rotate(180deg)
		}
	.flagCountryCode {
		padding: 0;
		}
	.flagTag {
		padding: 0;
		}
	.mainMenu ul {
		/*display: flex;
		align-items: center;*/
		}
	.mainMenu ul li a {
		/*padding: 15px 20px;
		background: #fff;
		font-size: 14px;
		line-height: 14px;
		color: #000001;
		font-weight: 500;
		text-align: right;
		text-transform: uppercase;*/
		}
	.mainMenu ul li a:hover {
		/*background: #fff;
		color: #01b7f2;*/
		}
	.menuItem_myaccount {
		padding: 25px 20px;
		background: #fff;
		font-size: 14px;
		line-height: 14px;
		color: #01b7f2;
		font-weight: 600;
		text-align: right;
		text-transform: uppercase;
		}
	.account {
		background: #fff;
		box-shadow: 0 1px 7px 0 rgb(0 0 0 / 40%);
	    border-radius: 2px;
	    text-align: center;
	    position: absolute;
	    z-index: 2;
		width: 175px;
	    padding: 5px 0px;
	    /*bottom: 61px;
	    right: 13px;*/
	    top: 63px;
	    right: 6px;
	    display: none;
		}
	.dUserIcon {
		/*font-size: 30px;
	    margin: 5px;
	    border: 1px solid #ccc;
	    border-radius: 50%;
	    padding: 10px 15px;
	    color: #ccc;
	    display: inline-block;*/
		}
	.myAccount_item {
		background: #fff;
		padding: 8px 15px;
	    font-size: 14px;
	    line-height: 16px;
		color: #000001;
		font-weight: 500;
	    text-align: left;
		}
	.myAccount_item:hover {
		background: #f2f2f2;
		color: #000001;
		}
	.myAccount_itemIcon {
		margin-right: 8px;
	    color: #01b7f2;
	    width: 13px;
	    height: 13px;
		}
/*Mobile Fixed-Header Ends*/

/*Mobile Sticky Nav-Header Starts*/
	.stickyHeaderAdded .userSectionBox li {
	    display: none;
		}
	.dPageContainer .navHeaderOuter {
		top: 87px; /*Changed in M*/
		}
	.dNavBarCent {
		display: flex;
		justify-content: center;
		}
	.navHeaderOuter {
		position: absolute;
		z-index: 1;
		left: 0;
	    right: 0;
		}
	.navHeaderWrapper.navClass {
		position: absolute;
	    z-index: 11;
	    top: 0;
		}
	.navClass .navHeaderContainer {
	    padding: 0;
	    width: 100%;
	    background-color: unset;
	    /*border-radius: 5px;*/ /*Changed in M*/;
		}
	.navClass .navHeaderContainer > .navLogoBox, .navLogoBox{
		display: none;
		}
	.navClass .navHeaderContainer > ul, .navClass .navHeaderContainer > .logoContainer {
		display: none;
		}
	.navHeaderWrapper.makeStickyHeader {
	    z-index: 13;
		}
	.navHeaderWrapper.makeStickyHeader {
		/*background: #fff; 
		box-shadow: 0 1px 7px 0 rgba(0,0,0,.4);*/ /*Changed in M*/

		padding: 13px; /*Changed in M*/
	    background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.5)), linear-gradient(to right, #56CCF2, #2F80ED);
		}
	.navHeaderContainer {
		/*padding: 15px 13px;
	    width: 992px;*/
	    margin: 0 auto;
	    max-width: 992px; /*Changed in M*/
	    background-color: #fff;
	    padding: 13px 10px 13px 20px;
		}
	.navHeaderWrapper.makeStickyHeader .navHeaderContainer {
	    display: flex;
	    align-items: center; /*Changed in M*/
	    gap: 20px; /*Changed in M*/
	    border-radius: 5px; /*Changed in M*/
		}
	.navHeaderWrapper.makeStickyHeader .navHeaderContainer .flagTag {
		display: none;
		}
	.makeStickyHeader {
		position: fixed;
		z-index: 14;
		width: 100%;
		top: 0;
		left: 0;
		animation: slideInDown 0.2s linear;
		}
	 .navHeaderContainer .logoContainer {
	    display: flex;
	    /*font-size: calc(var(--font-scale, 1)*14px);
	    margin-right: 25px;
	    min-width: 120px;*/
		}
	.navClass .navHeaderContainer > .logoContainer {
	    display: none;
		}
	.navClass .navHeaderContainer nav {
	    /*width: 100%;*/
		}
	.navHeaderWrapper.navClass nav {
	    padding: 0 20px; /*Changed in M*/
	    background-color: #fff;
	    border-radius: 7px;
	    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
	    /*height: 90px; 
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    min-width: 300px;*/ /*Changed in M*/
		}
	.navTabs {
		display: flex;
		justify-content: center;
		}
	.navClass .headerIconsGap {
	    gap: 10px; /*Changed in M*/
		}
	.navHeaderContainer nav {
	    flex: 2;
	    /*width: 100%;*/
		}
	.navHeaderContainer nav ul {
	    /*width: 100%!important;*/
		}
	.navHeaderContainer nav ul li {
	    position: relative;
	    /*flex-shrink: 0!important;*/
		}
	.navClass .navTabs a {
		cursor: default;
		background: transparent;
		text-decoration: none;
		display: flex;
		/*max-width: 90px;*/
		}
	.navClass .dSrvcCont {
		/*padding: 10px 20px;*/
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		}
	.navClass .dSvcIconBox {
		width: 52px;
		height: 46px;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		}
	.navClass .hotelIcon  {
		width: 36px;
		height: 30px;
		}
	.navClass .flightIcon, .navClass .holidayIcon  {
		width: 36px;
		height: 34px;
		}
	.travelInsuranceIcon  {
		width: 36px;
		height: 32px;
		}
	.navClass .dSvcIconName {
		font-size: 14px;
		line-height: 18px;
		color: #4a4a4a;
		font-weight: 600;
		text-align: center;
		text-transform: capitalize;
		white-space: nowrap; /*Added in M*/
		}
	/*.headerIconWrapper {
	    align-items: center;
	    display: flex;
	    height: 24px;
	    justify-content: center;
	    margin-bottom: 4px;
	    width: 31px;
		}
	.headerIconTextAlignment {
	    font-size: calc(var(--font-scale, 1)*12px);
	    font-weight: 400;
	    line-height: 15px;
	    text-align: center;
		}
	.navClass .headerIconTextAlignment {
	    font-size: calc(var(--font-scale, 1)*14px);
	    font-weight: 400;
	    line-height: 17px;
	    text-align: center;
		}
	.navClass .navHeaderContainer li a .chNavText {
	    border-bottom: 3px solid #fff;
		}
	.navClass .headerIconWrapper {
	    align-items: center;
	    display: flex;
	    height: 40px;
	    justify-content: center;
	    margin-bottom: 4px;
	    width: 52px;
	}*/
/*Mobile Sticky Nav-Header Ends*/

/*Mobile Footer Starts*/
	.dFooter {
	    background: #000000cc;
	    background-attachment: fixed;
	    background-repeat: no-repeat;
	    background-size: cover;
	    padding: 40px 0 0;
	    background-position: top;
		}
	.dFtrBox {
		display: flex;
	    justify-content: space-between;
	    border-bottom: 1px solid #bbb;
	    padding-bottom: 20px;
		}
	.dFtrLeftSecn {
		width: 67%;
		}
	.dFtrLftSubTtl h4 {
		font-size: 12px;
		line-height: 12px;
		color: #fff;
		font-weight: 600;
		text-align: left;
		margin-bottom: 15px;
		text-transform: uppercase;
		}
	.dFtrLftSubTtl ul li {
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		font-weight: 500;
		text-align: left;
		}
	.dFtrLftSubTtl ul li a {
		margin-left: 5px;
		color: #fff;
		cursor: pointer;
		}
	.dFtrRghtSecn {
		width: 33%;
		padding-left: 20px;
		border-left: 1px solid #bbb;
		}
	.dFtrRgtSubTtl, .dFtrSclMedia {
		padding-bottom: 30px;
		border-bottom: 1px solid #bbb;
		margin-bottom: 20px;
		text-transform: uppercase;
		}
	.dFtrRgtSubTtl h3, .dFtrSclMedia h3, .dFtrSubscription h3 {
		font-size: 16px;
		line-height: 18px;
		color: #fff;
		font-weight: 600;
		text-align: left;
		margin-bottom: 15px;
		text-transform: uppercase;
		}
	.dFtrRgtSubTtl li {
		font-size: 22px;
		color: #fff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-right: 20px;
		display: flex;
	    align-items: center;
	    justify-content: center;
		}
	.dPmtModeIconBox {
		width: 65px;
		height: auto;
		overflow: hidden;
		border-radius: 5px;
		margin-right: 20px;
		}
	.dPmtModeIconBox img {
		width: 100%;
		height: 40px;
		border-radius: 5px;
		}
	.dFtrSclMedia li a {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-right: 20px;
		display: flex;
	    align-items: center;
	    justify-content: center;
		}
	.dFtrSubscription  {
		/*padding-bottom: 30px;
		border-bottom: 1px solid #bbb;*/
		margin-bottom: 0;
		text-transform: uppercase;
		}
	.dFtrSubscription input[type=email] {
		display: block;
		width: 100%;
		height: 40px;
		padding: 6px 12px;
		font-size: 16px;
		line-height: 18px;
		color: #4a4a4a;
		font-weight: 500;
		text-align: left;
		background: #fff !important;
		border: 0;
	    border-radius: 4px;
		box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
		-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
		margin-bottom: 15px;
		text-transform: none;
		}
	.dFtrSubscription input[type=email]:focus {
		outline: 0;
		}
	.dBtnMain {
		display: inline-block;
		text-transform: none;
		border-radius: 3px;
		padding: 6px;
	    font-size: 14px;
	    line-height: 16px;
		font-weight: 500;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-image: none;
		letter-spacing: 0.64px;
		margin-bottom: 0;
		height: auto;
		}
	.dBtnSubscribe {
		flex-shrink: 0;
		outline: 0;
		text-transform: capitalize;
		background: transparent;
		border: 1px solid #fff;
	    border-radius: 4px;
		padding: 8px 15px;
	    font-size: 16px;
		line-height: 16px;
		color: #fff;
		font-weight: 700;
		cursor: pointer;
		margin-bottom: 0;
		height: 40px;
		}
	.dCopyrightCont {
		background: transparent;
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		}
	.dCopyrightCont h4 {
		font-size: 14px;
		line-height: 16px;
		color: #bbb;
		font-weight: 500;
		text-align: left;
		margin-bottom: 0;
		text-transform: none;
		}
/*Mobile Footer Ends*/

/*Mobile Sticky-Header Starts*/
	.dNavBar {
	    /*background: #fff;
	    border-radius: 8px;
	    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 40%);
	    display: flex;
		align-items: center;*/
	    /*height: 80px;*/
		/*margin-top: -40px;
	    margin-bottom: 25px;
		padding: 0px 30px;*
		}
	.navTabs li {
		/*width: 120px;
		background: #fff;
		color: #000001;
		border-radius: 5px;
		padding: 10px;
		display: flex;
		flex-direction: column;
	    align-items: center;
		justify-content: center;*/
		/*margin-right: 50px;*/
		}
	.navTabs li:last-child {
		/*margin-right: 0;*/
		}
	.navTabs a {
		cursor: pointer;
		background: transparent;
		text-decoration: none;
		display: flex;
		/*max-width: 62px;*/
		}
	.navTabs a:last-child {
		/*margin-right: 0;*/
		}
	.headerIconsGap {
		gap: 20px;
		}
	.dSrvcCont {
		/*padding: 10px 20px;*/
		background: #fff;
		display: flex;
		/*flex-direction: column;*/
		align-items: center;

		justify-content: center;
		flex-wrap: wrap;
		column-gap: 5px;
		}
	.dSvcIconBox {
		width: 30px;
		height: 26px;
		margin-bottom: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		}
	.hotelIcon {
		width: 30px;
		height: 24px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		}
	.flightIcon, .holidayIcon, .travelInsuranceIcon {
		width: 30px;
		height: 26px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		}
	.dSvcIconName {
		font-size: 12px;
		line-height: 14px;
		color: #4a4a4a;
		font-weight: 600;
		text-align: center;
		text-transform: capitalize;
		/*white-space: nowrap;*/
		}
/*Mobile Sticky-Header Ends*/
}