@media (min-width: 0px) {
/* The checkmarkCont */
  .checkmarkCont {
    display: block;
    position: relative;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
  /* Hide the browser's default checkbox */
  .checkmarkCont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    left: -999px;
    }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    }
  .checkmark.signup-acceptance {
    width: 15px;
    height: 14px;
    border: 1px solid #4a4a4a;
    border-radius: 2px;
    background-color: #fff;
    position: absolute; /*can be removed*/
    top: 2px;
    }
  /* On mouse-over, add a grey background color */
  .checkmarkCont:hover input ~ .checkmark {
    background-color: #fff;
    }
  /* When the checkbox is checked, add a blue background */
  .checkmarkCont input:checked ~ .checkmark {
    background-color: #01b7f2;
    border-color: #01b7f2;
    }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
  /* Show the checkmark when checked */
  .checkmarkCont input:checked ~ .checkmark:after {
    display: block;
    }
  /* Style the checkmark/indicator */
  .checkmarkCont .checkmark:after {
    left: 4px;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
  .acceptance-cont p {
    padding-left: 20px;
    font-size: 12px;
    line-height: 18px;
    color: #4a4a4a;
    font-weight: 500;
    text-align: left;
    margin: 0;
    }
}