/* Select-2 Starts */
.select2-container {
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    padding: 0;
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    background: #fff !important;
    font-size: 15px !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 15px;
    padding-right: 0px;
    opacity: 0;
    /*position: absolute;
    left: -499px;*/
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #4a4a4a !important;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px !important;
    user-select: none;
    width: 100%;
}

.select2-container .select2-selection--multiple {
    height: 34px;
    border-radius: 5px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    margin-top: 0;
    height: auto;
}

.select2-container .select2-selection--single .select2-selection__clear {
    border: none;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    margin-top: -1px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    /*margin-right: 15px;
    padding-right: 0px;
    opacity: 0;*/
    margin-right: 0px;
    padding-right: 0px;
    opacity: 0.5;
    color: #001;
    margin-top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #4a4a4a;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    display: none;
}

.select2-search--dropdown {
    display: block;
    padding: 0;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
}

.select2-container .select2-dropdown {
    background: #f2f2f2;
    margin-top: 0;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    border: 0;
    padding: 0;
    max-height: 200px;
}

.select2-container .select2-dropdown .select2-search input {
    background: #fff;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    padding: 10px 10px 11px 20px;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    margin: 0 !important;
    text-transform: capitalize;
}

.select2-container .select2-dropdown .select2-results {
    padding: 0;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 20px;
}

.select2-container--default .select2-results__option--selected {
    background-color: #fff;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: #f2f2f2;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #f2f2f2;
    color: #000001;
}

.select2-container .select2-dropdown .select2-results ul {
    background: #fff;
    border: 0;
}

.select2-container--default .select2-results>.select2-results__options {
    min-height: 283px;
    max-height: 285px;
    overflow-y: auto;
}

.select2-container--default .select2-results__option--group {
    padding: 0;
}

.select2-results__option {
    padding: 11px 15px;
    user-select: none;
    color: #000001 !important;
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 10px 20px 4px;
    font-size: 12px;
    line-height: 15px;
    color: #a1a1a1;
    font-weight: 600;
    text-transform: uppercase;
}

/* Select-2 Ends */